
.DS_Store
.AppleDouble
.LSOverride
*.swp
*.swo
*~
.Spotlight-V100
.Trashes
._*


bin/
obj/
*.dll
*.exe
*.pdb
*.user
*.suo
*.sln.docstates
.vs/
homework3.csproj.lscache
homework3.csproj.user



.idea/
.vscode/settings.json
*.swp
*.swo


*.csproj.user
*.dbmdl
*.jfm
